.back {
  background: linear-gradient(#dcfffd, #fbf9ff);
}

.mainBox {
  border-image: linear-gradient(darken(gray, 30), lighten(gray, 30)) 1;
  border-width: 10px;
  border-style: solid;
  width: 25em;
  height: 25em;
  margin-left: 10em;
  margin-top: 5em;
}

.selector {
  margin-top: 4em;
  margin-left: 30em;
  width: 30em;
}

.img {
  width: 100%;
  height: 100%;
}

.BothBoxes {
  text-align: center;
}

.singleBox {
  display: flex;
}

.imageCheck {
  margin-top: 30px;
}

.buttonRadio {

}

.formBody {
  width: 40em;
  margin: 10em 25em 0em;
  justify-content: space-between;
}

.justForm {
}
